<header>
  <ul>
    <li>{{#link-to "task.index" }}List of tasks{{/link-to}}</li>
    <li>{{#link-to "task.new" }}New Tasks{{/link-to}}</li>
  </ul>
</header>
{{outlet}}
<footer>
  <p>This is the footer</p>
</footer>
